body {
    background-color: #fff;
    color: #383A46;
}
.bg-navbar {
    background-color: #383A46;
    
}
.navbar-nav .nav-link {
    color: white;
}
.navbar-nav .nav-link:hover {
    color: #C3986B;
}
.navbar-nav .nav-link.active {
    font-weight: 500;
    color: #C3986B;
}
.navbar-toggler-icon    {
    background: url(../icons/navbar.png);
    background-size: 100%;
}
.navbar-aplomo {
    justify-content: space-between;
}
.boton-menu {
    border-radius: 0;
    border: none;
}
.boton-menu:focus {
    box-shadow: none;
}
.logo   {
    padding: 0px;
}
.sistemas-constructivos {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.row {
    margin-left:0;
    margin-right:0;
}
@media (min-width: 768px) {
    .sistemas-constructivos {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.servicios  {
    width: 100%;
    min-height: 200px;
    height: 100%;
    background:white;
}
.img-mamposteria, .img-steel, .img-madera {
    width: 100%;
    height:330px;
    overflow: hidden;
}
.servicios img {
    height:100%;
}
.servicios-textos {
    padding: 10px;
}
.servicios-textos h3    {
    color:#383A46;
}
.servicios a {
    text-decoration: none;
    color: #383A46;
    position: relative;
}

.servicios a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #C3986B;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
  }
  
  .servicios a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

.contacto  {
    display: block!important;
    align-content: right;
}
.social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.social svg {
    margin-right:10px;
}
@media (min-width: 992px) {
    .social {
        justify-content: center;
    }
    .social svg {
        margin-right:0px;
    }
    /* .ig svg:hover {
        fill: #e1306c;
    }
    .ln svg:hover {
        fill: #0077b5;
    } */
}
.eslogan    {
    background-image: url("../img/bg-22.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}
.eslogan h1    {
    margin-bottom: 20px;
    color:#383A46;
}
.eslogan a    {
    text-decoration: none;
}
.btn-contacto {
    border-radius: 50px;
    border: 3px solid #383A46 !important;
    color:#383A46;
    padding: 15px 40px 15px 40px;
    font-weight: bold;
}
.btn-contacto:hover {
    border-color: #C3986B !important;
    color: #C3986B !important;
}
@media (max-width: 576px) {
    .btn-contacto {
        width: 70%;
        margin: 0 auto;
        display: block;
    }
}
.asesoramiento {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}
.asesoramiento h1 {
    text-align: left;
    color: #383A46;
}
.asesoramiento img {
    width: 100%;
}
.asesoramiento a    {
    text-decoration: none;
}
@media (max-width: 992px) {
    .asesoramiento-texto {
        padding-top: 20px;
    }
}
.asesoramiento .row-boton {
    margin-top: 20px;
}

@media (min-width: 992px) {
    .inicio-casa {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .eslogan    {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .asesoramiento {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: justify;
    }
}

.footer {
    background-color: #383A46;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #d4d6d5;
}
.footer img {
    width: 100%;
}
.footer-info  {
    text-align: center;
    margin:0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.footer-info p  {
    margin:0;
}
.footer-info a {
    text-decoration: none;
    color: #d4d6d5;
    position: relative;
}
.footer-social {
    align-items: center;
    display: flex;
    justify-content: end;
    flex-direction: row;
}
.footer-social a:hover    {
    color:#C3986B;
}
.footer-links {
    width: 60px;
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 992px) {
    .footer img {
        display: block;
        width: 60%;
        margin: auto;
    }
    .footer-info  {
        margin-top: 20px;
    }
    .footer-social {
        margin-top:20px;
        justify-content: center;
    }

}
.quienes-somos {
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
}

.perfil-vacio {
    display: none;
}
.perfil {
    background: white;
    border: 1px solid #C3986B;
    padding: 20px;
}
.perfil img {
    width: 60%;
    margin: auto;
    display: flex;
    border-radius: 50%;
}
.perfil h4 {
    margin-top:10px;
    color:#383A46;
    text-align: center;
}
.perfil h6 {
    color:#C3986B;
    text-align: center;
}
@media (min-width: 768px) {
    .quienes-somos {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .perfil-vacio {
        display: block;
    }
}
.qs-descrip {
    padding: 40px 0;
    text-align: justify;
    color: #383A46;
}
@media (min-width: 768px) {
    .contact-page {
        padding: 40px 0;
    }
}
.contact-page {
    padding: 20px 0;
}
.boton-enviar {
    margin: 15px 0 0 0;
}
.btn-enviar {
    --bs-btn-color: #fff;
    --bs-btn-bg: #C3986B;
    --bs-btn-border-color: #C3986B;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #383A46;
    --bs-btn-hover-border-color: #383A46;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #383A46;
    --bs-btn-active-border-color: #383A46;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #383A46;
    --bs-btn-disabled-border-color: #383A46;
}
.contact-page .form-group {
    margin: 5px 0;
}
.form-control-contacto {
    border-radius: 0;
    border-color: #383A46;
}
.form-control-contacto:focus {
    box-shadow: 0 0 0 0.1rem rgba(63,88,67,1);
}
.metodos-constructivos {
    color: #383A46;
}
.metodos-header {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C3986B;
    text-align: justify;
}

@media (min-width: 768px) {
    .metodos-header {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.h-header {
    text-align: left;
}
.m-mamposteria, .m-steel-frame, .m-madera {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    color:#383A46;
}
.m-header {
    text-align: left;
}

.m-header, .m-img, .m-txt {
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    .m-mamposteria .row div, .m-steel-frame .row div, .m-madera .row div {
        height:100%;
    }
    .m-mamposteria img, .m-steel-frame img, .m-madera img {
        object-fit: cover;
    }
}
.m-mamposteria img, .m-steel-frame img, .m-madera img {
    width: 100%;
}
.m-vacio {
    display: block;
}
@media (min-width: 768px) {
    .m-vacio {
        display: none;
    }
}
.contact-vcard  {
    display: block;
}
.contact-vcard  div {
    margin-bottom: 10px;
}
.contact-vcard img  {
    width: 15px;
    display: inline-block;
    border-radius: 0px;
}
.contact-vcard p  {
    display: inline-block;
    margin:0;
}
.contact-vcard a  {
    display: inline-block;
    color:#383A46;
    text-decoration: none;
}
.contact-vcard a:hover  {
    color:#C3986B   ;
    text-decoration: none;
}